.enter-with {
  display: flex;
  justify-content: center;
}

.enter-with-button {
  border: none;
  background: none;
  cursor: pointer;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Right panel styles */
.right-panel {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #cbd5e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.avatar-icon {
  width: 41px;
  height: 41px;
}

.welcome-text {
  font-size: 1.8rem;
  color: #2d3748;
  margin-bottom: 2rem;
}

.login-form {
  width: 100%;
  max-width: 350px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  background-color: #edf2f7;
  border-radius: 10px;
  font-size: 1rem;
}

.form-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.form-extra a {
  font-size: 15px;
  color: #373737;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #3b82f6;
  cursor: pointer;
}

.checkbox-text {
  margin-left: 8px;
  font-size: 15px;
  color: #373737;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.checkbox-itens {
  display: flex;
  align-items: center;
}

.form-group input:focus {
  outline: 2px solid #2c5282;
}

.signup-button,
.login-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.form-group-buttons-reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group-buttons-reset button {
  width: 48%;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cancel-button {
  background-color: #e1e1e1;
  color: #373737;
}

.signup-button:hover {
  background-color: #2563eb;
}

.login-link {
  margin-top: 1rem;
  text-align: center;
}

.login-link a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.reset-desc {
  text-align: center;
  margin-bottom: 1.5rem;
}

.reset-title {
  margin-bottom: 0;
}

.reset-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.reset-title-div i {
  margin-left: 0.31rem;
  margin-top: 0.31rem;
  font-size: 24px;
}