* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #373737;
}

p {
  color: #666;
  font-size: 1.1rem;
}

h1 {
  color: #373737;
}
