.auth-page-container {
  display: flex;
  height: 100vh;
}

.auth-container {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-form {
  width: 100%;
  max-width: 350px;
}

.auth-border h2 {
  font-size: 1.8rem;
  color: #333;
}

.auth-input {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 15%;
  border: 1px solid #d9dee6;
  transition: all 0.2s ease;
  text-align: center;
  font-size: 1.5rem;
  background-color: #eef0f3;
}

.auth-input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

.auth-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.auth-button:active {
  background-color: #2563eb;
}

.auth-resend-text {
  font-size: 1.1rem;
  color: #3b82f6;
  text-align: center;
  margin-left: 0.5rem;
}

.auth-text {
  font-size: 1.1rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .auth-border {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 20px #4f93ff69;
  }

  .auth-form-group{
    gap: 1rem;
  }

  .auth-form-group input {
    width: 2.4rem;
    height: 2.4rem;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .auth-border {
    width: 380px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 20px #4f93ff69;
  }
}

@media (max-width: 425px) {
  .auth-form-group {
    gap: 0.5rem;
  }

  .auth-page-container {
    width: 100% !important;
  }

  h2 {
    text-align: center;
  }
}
