.auth-page-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.auth-container {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-border {
  width: 390px;
  height: 320px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 20px #4f93ff69;
}

.auth-form {
  width: 100%;
  max-width: 350px;
}

.auth-form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.auth-border h2 {
  font-size: 1.8rem;
  color: #333;
}

.code-text {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 1.5rem;
  text-align: center;
}

.auth-input {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 15%;
  border: 1px solid #d9dee6;
  transition: all 0.2s ease;
  text-align: center;
  font-size: 1.5rem;
  background-color: #e8edf5;
}

.auth-input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

.auth-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.auth-button:active {
  background-color: #2563eb;
}

.auth-resend-text {
  font-size: 1.1rem;
  color: #3b82f6;
  text-align: center;
  margin-left: 0.5rem;
}

.auth-resend-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.auth-resend-text:active {
  color: #2563eb;
}

.auth-text {
  font-size: 1.1rem;
  color: #666;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 1024px) {
  .auth-border {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 20px #4f93ff69;
  }

  .auth-form-group{
    gap: 1rem;
  }

  .auth-form-group input {
    width: 2.4rem;
    height: 2.4rem;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .auth-border {
    width: 380px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 20px #4f93ff69;
  }
}

@media (max-width: 425px) {
  .auth-border {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: none;
  }

  .auth-form-group {
    gap: 0.5rem;
  }

  h2 {
    text-align: center;
  }
}
