.linkedin-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.linkedin-associate-button {
  width: 180px;
  padding: 0.8rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 0.2rem;
  text-align: center;
}

.linkedin-associate-button:active {
  background-color: #2563eb;
}

.linkedin-input {
  border: none;
  text-align: center;
  background-color: #e8edf5;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  color: #666;
  font-size: 1.1rem;
}

h2 {
  color: #333;
  font-size: 1.8rem;
}

.linkedin-input:focus {
  outline: none;
  border: 1px solid #3b82f6;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}
