.video-wrapper {
  position: relative;
  width: 100%;
  background: #000;
  height: 610px;
  overflow: hidden;
}

@media (max-height: 900px) {
  .video-wrapper {
    height: 450px;
  }

  .cld-video-player {
    max-height: 450px !important;
  }
}

.cld-video-player {
  max-height: 610px !important;
  width: 100% !important;
  height: 100% !important;
}
